#login-cl{
    border-radius: 30px;
    margin-right: 25px;

}

#register-cl{
    border-radius: 30px;
    margin-right: 8px;

}

.space1{
    margin-left: 20px;
}

.space{
    margin-left: 17px;
    font-weight: bold;
    display: block;

}

